@charset "UTF-8";
html {
  font-size: 100%;
  min-height: 100vh;
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  background-color: #F0F0F0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  recolor: #000;
  font-size: 0.875rem;
}

li {
  list-style: none;
}

h2 {
  font-family: "メイリオ",'MS P ゴシック', sans-serif;
  font-weight: normal;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

.sub p {
  margin: 0;
  padding-bottom: 36px;
}

.sub hr {
  height: 1px;
  width: 40px;
  background-color: #000000;
  border: none;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 1000px;
  margin: 120px auto;
  width: 100%;
}

header {
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 91px;
}

header .header_left img {
  width: 100px;
}

header .header_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_left ul li {
  padding-left: 30px;
}

header .header_left ul li a {
  color: #000000;
}

header .header_left ul li a:hover {
  opacity: 70%;
}

header .header_right a {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  width: 200px;
  height: 80px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 12px;
}

header .header_right a:hover {
  color: #000000;
  background-color: #000000;
}

.mainvisual img {
  height: 600px;
}

.report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.report dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 78px;
  border-left: #000000 1px solid;
  padding-left: 20px;
}

.report dl:first-child {
  padding-left: 0;
  border-left: none;
}

.report dt .type {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 12px;
  padding: 1px 7px;
  margin-left: 10px;
}

.report dd {
  margin-left: 0;
  font-size: 16px;
  margin-top: 16px;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_lert {
  width: 55%;
}

.about_right {
  width: 45%;
  margin-top: 180px;
  padding: 0 70px 90px;
}

.bussiness_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bussiness_contents .bussiness_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bussiness_contents .bussiness_box:nth-child(even) {
  margin-top: 50px;
}

.bussiness_contents .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.bussiness_contents .title:before {
  content: '';
  -webkit-box-flex: 3px;
      -ms-flex-positive: 3px;
          flex-grow: 3px;
  height: 1px;
  width: 8px;
  background: #000000 1px;
  margin-right: 10px;
}

.bussiness_contents .bussiness_left {
  width: 50%;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 32px;
}

.bussiness_contents .bussiness_right {
  width: 50%;
  padding-right: 100px;
  padding-left: 32px;
}

.company_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 640px;
}

.company_wrap .company_left {
  background-color: #FFFFFF;
  height: 640px;
  width: 567px;
  position: absolute;
  margin: 0;
}

.company_wrap .company_left .company_contents {
  margin: 100px 62px;
}

.company_wrap .company_left dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company_wrap .company_left dt {
  width: 20%;
  margin-bottom: 10px;
}

.company_wrap .company_left dt:last-child {
  margin-bottom: 0px;
}

.company_wrap .company_left dd {
  width: 80%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.company_wrap .company_left dd:last-child {
  margin-bottom: 0px;
}

.company_wrap .company_right {
  margin: 120px 0 120px 500px;
  background-color: #DEDEDE;
  height: 400px;
  width: 547px;
  position: absolute;
}

footer {
  bottom: 0;
  background-color: #FFFFFF;
  padding: 40px 200px 20px;
  width: auto;
}

footer .footer_content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

footer .footer_content .footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_content .footer_flex .footer_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: auto;
}

footer .footer_content .footer_flex .footer_right {
  margin-right: 0;
}

footer .footer_content p {
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width: 980px) {
  .wrapper {
    margin: 80px 16px 80px 12px;
  }
  header {
    height: 80px;
  }
  header .header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  header .header_left img {
    width: 80px;
    margin: 0;
  }
  header .header_left h1 {
    margin: 0;
  }
  header .header_left ul {
    padding: 0;
    margin-top: 7.5;
    height: 20px;
  }
  header .header_left ul li:first-child {
    padding-left: 0;
  }
  .header_right {
    display: none;
  }
  #maincisual img {
    height: 600px;
  }
  #news .report {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #news .report dl {
    border-left: none;
    padding-left: 0;
  }
  #about .about_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .about_left {
    width: 100%;
  }
  #about .about_right {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 30px;
    padding: 0 16px;
  }
  .bussiness_contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bussiness_contents img {
    height: 242px;
  }
  .bussiness_contents:first-child {
    margin-top: 0px;
  }
  .bussiness_contents .bussiness_left {
    width: 100%;
    padding: 0px;
  }
  .bussiness_contents .bussiness_right {
    margin-top: 50px;
    width: 100%;
    padding: 0px;
  }
  .company_wrap {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1055px;
    margin-top: 80px 0;
  }
  .company_wrap .company_left {
    position: static;
    width: 100%;
    margin: 0;
  }
  .company_wrap .company_right {
    position: static;
    width: 100%;
    margin: 20px 0 0 0;
  }
  footer {
    padding: 40px 10px;
  }
  footer .footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_content .footer_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  footer .footer_content .footer_flex .footer_left {
    margin-left: 0;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */